div.chat-wrapper {
    color: #ddd;
    padding: 1em 1em 1em 1em;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,.95);
}
div.chat-inner-wrapper {
    min-height: 400px;
    position: relative;
    overflow: hidden;
}
#onError, #onChat {
    display: none;
}

#messages {
    color: #202020;
    text-align: left;
    position: absolute;
    width: 100%;
    bottom: 2em;
    margin-bottom: 1em;
}

#talk {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: transparent;
    padding: .5em .5em .5em .5em;
    color: #202020;
}
#talk:focus {
    outline: none;
}

.message {
    color: #202020;
    padding: 4px 0;
    position: relative;
    /*border-bottom: 1px solid #ddd;*/
}

.message span {
    width: 70px;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: .5em;
    margin-left: .5em;
}

.message p {
    display: inline-block;
    margin: 0;
}

.message.me {
    color: crimson;
}

.message.join, .message.quit {
    color: #202030;
}
#messages {
    top: 0 !important;
}
.alert {
    top: 0px;
    right: 0px;
    background-color: black;
    color: #ddd;
    padding: 1em 1em;
}
div.concert {
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 1em 1em;
    border-radius: 5px;
}
div.concert .item {
    padding: 1em 1em;
}
div.concert .item:hover {
    background-color: rgba(255,255,255,.75);
    color: #000000;
    cursor: pointer;
}
div.concert span.glyphicon-star {
    color: crimson;
}
div.replay {
    padding: 1em 1em;
    margin-bottom: 1em;
    background-color: rgba(0,0,0,.75);
    color: #ffffff;
}
div.replay:hover {
    background-color: crimson;
    color: #ffffff;
    cursor: pointer;
}
.recommendation {
    display: none;
}
video.bg-video, img.cover {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}
div#singer div.row {
    margin-bottom: 2em;
}
div.profile {
    color: #ddd;
    font-size: 1.2em;
}
#part-time-job .item {
    padding: 1em 1em;
}
#part-time-job .item:hover {
    background-color: crimson;
    color: #ffffff;
    cursor: pointer;
}
#part-time-job .item .title {
    font-size: 1.2em;
}
#usa-1 .description {
    color: #fff;
    background-color: rgba(0,0,0,.85);
    padding: 1em 1em;
}
div.plane, div.hotel {
    background-color: rgba(0,0,0,.85);
    color: #ddd;
    padding: 1em 1em;
    border-radius: 5px;
}
div.plane .item, div.hotel .item {
    margin: 1em 1em;
}
div.book .title {
    font-size: 2em;
}
div.book .star {
    color: darkorange;
    font-size: 1.5em;
}
div#singer img {
    width: 100%;
}
video.item-video {
    width: 100%;
}
div#komoran, div#twitter {
    margin-top: 1em;
    margin-bottom: 1em;
}
