@main("MemoryWatch") {
    @header("home")
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>MemoryWatch</h1>
        </div>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis convallis arcu, a fringilla lacus. Aliquam non ornare nibh. Ut faucibus tortor at erat consectetur, sed gravida diam volutpat. Aliquam non iaculis est. Maecenas ut lacinia dui. Nunc consequat aliquet egestas. Nullam pretium pulvinar neque. Sed et dignissim libero. Morbi nec nibh convallis, cursus ante at, consectetur quam. Nullam leo ipsum, hendrerit vel dapibus vel, lobortis id justo. Suspendisse imperdiet quam in porta commodo. In et semper augue, id suscipit mauris.</p>
    </div>
}
