@main("MemoryWatch") {
    @header("media")
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>MemoryWatch</h1>
        </div>
        <table class="table">
            <tr>
                <th>id</th>
                <th>keyword</th>
                <th>type</th>
                <th>contents</th>
            </tr>
        @for(m <- Media.all()) {
            <tr>
                <td>@m.id</td>
                <td>@m.keyword</td>
                <td>@(m.`type`)</td>
                <td>
                    @if(m.`type`.contains("image")) {
                        <img src="@routes.Home.contents(m.id)" class="img-rounded media"/>
                    }
                    @if(m.`type`.contains("video")) {
                        <video width="420" controls>
                            <source src="@routes.Home.contents(m.id)" type="@(m.`type`)">
                        </video>
                    }
                </td>
            </tr>
        }
        </table>
    </div>
}
