@main("MemoryWatch") {
    @header("demo")

    <div class="container">
        <div class="page-header">
            <h1>MemoryWatch <span class="glyphicon glyphicon-comment"></span></h1>
        </div>

        @if(flash.containsKey("error")) {
            <div class="alert-message error">
                <p>
                    <strong>Oops!</strong> @flash.get("error")
                </p>
            </div>
        }

        <div class="text-left">
            <form action="@routes.Chat.chatRoom()" class="form-inline">
                <div class="form-group">
                    <input id="u" name="u" class="form-control" type="text" placeholder="닉네임을 입력하세요" required="required" autofocus="on">
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">입장하기</button>
                </div>
            </form>
        </div>
    </div>
}